<!DOCTYPE html>
 <html lang="en">

 <head>
     {% load staticfiles %}
 	<title>{% block title %}ToolShare{% endblock %}</title>

 	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap.js' %}"></script>
 </head>

<body>
    <div class="container toolshare">
         <div id="content" class="row ">
            <div class="col-sm-4 changecommside">
                <div class="btn-group btn-block">

                <a class="col-sm-12 btn btn-lg btn-block btn-info" href="/toolshare/newCommunity">Create a new community</a>

                <center><br><br><br><h1>or</h1><br></center>

                <button class="col-sm-12 btn btn-lg btn-block btn-primary" data-toggle="dropdown">Join a community &nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu btn-block">
                {% if coms %}
                    {% for com in coms %}
                            <a class="btn btn-lg btn-block btn-primary" href="/toolshare/select/{{com.id}}">{{com.name}}</a>
                    {% endfor %}
                </ul>

                {% else %}
                        <a class="col-sm-12 btn btn-lg btn-block btn-info" href="/toolshare/newCommunity">Create a new community</a>
                {% endif %}
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header">
                    <h1>Joining a ToolShare Community</h1>
                </div>
                <h4>
                    Welcome to ToolShare! ToolShare helps improve communities by providing and easy mechanism for sharing items between neighbors.
                </h4>
                <h4>
                  So join a community (or create your own) to start improving your community. Share tools and connect with your neighbors.
                </h4>
                <h4>
                    A community is for sharing tools within a certain zone. Choose a community that fits your location so that you can share tools easily between your
                    house or within nearby sheds.
                </h4>
                <h4>
                    If you want to create a new community make sure it is a large enough zone that people want to join it. Good community zones are neighborhoods,
                    schools, and workplaces.
                </h4>
            </div>


         </div>
    </div>
</body>