{% extends "base.html" %}
{% block content %}

    {% if form.errors %}
        <script type="text/javascript">
            var formErrors = [];
            var regex = /(<([^>]+)>)/ig;
            var temp;
        </script>

        {% for field in form %}
            {% if field.errors %}
                <script type="text/javascript">
                temp = '{{field.errors}}';
                formErrors.push({label:"{{field.label}}",error:temp.replace(regex,"")});
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

<h1 class="page-header">Change your password</h1>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">

        <form action="" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" class="form-control" required="" autofocus="" name="next" value="{{ next }}">
            {% endif %}

            <label class="control-label" for="id_old_password">Old password </label>
            <input id="id_old_password" class = "form-control" name="old_password" type="password"></br>

			<label class="control-label" for="id_new_password1">New password </label>
            <input id="id_new_password1" class = "form-control" name="new_password1" type="password"></br>
            
			<label class="control-label" for="id_new_password2">New password confirmation </label>
            <input id="id_new_password2" class = "form-control" name="new_password2" type="password"></br>
            <center>
            <div class="col-sm-6">
			    <a class="btn btn-default btn-md" href="/user/update">&nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            </center>
        </form>
        <script type="text/javascript">
            $(document).ready(function () {
                handleError("Old password",formErrors,"#id_old_password")
                handleError("New password",formErrors,"#id_new_password1")
                handleError("New password confirmation",formErrors,"#id_new_password2")
            });
        </script>
    </div>
</div>
{% endblock %}