<!DOCTYPE html>
 <html lang="en">
 <head>
     {% load staticfiles %}
 	<title>{% block title %}ToolShare{% endblock %}</title>

 	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap.js' %}"></script>
 </head>

<body>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Welcome to ToolShare</h1>
        <div class="row">
            <div class="col-sm-12">
                {% block content %}
                    <h1></h1>
                    <div>
                        <img src="https://openclipart.org/image/300px/svg_to_png/67/Andy_Tools_Hammer_Spanner.png" alt="Toolshare">
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col-sm-6">
        <h3>New user?</h3>
        <a class="btn btn-primary btn-lg" href="/user/register"> Register </a>
    </div>
    <div class="col-sm-6">
        <h3>Returning user?</h3>
        <a class="btn btn-primary btn-lg" href="/user/login"> Login </a>
    </div>
</div>

</body>