{% extends "base.html" %}


{% block content %}

<h1>{{name}}</h1>
<table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Status (unread = <i class="fa fa-envelope"></i>) </th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody>
      {% for message in messagesInbox %}
        <tr class='clickableRow' href="/user/message/{{ message.id }}/">
          {% if message.read %}
          <td><i class="fa fa-envelope-o"></i></td>
          {% else %}
          <td><i class="fa fa-envelope"></i></td>
          {% endif %}
          <td>{{message.sender}}</td>
          <td>{{message.receiver}}</td>
          <td>{{message.subject}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}